@model IEnumerable<ListaOferentes>
@{
    ViewBag.Title = "Detalles";
    ViewBag.H2 = "Detalles de la Vacante";
    ViewBag.PartialViewTitle = "Quiénes se han postulado";
    PuestosTrabajo puesto = (PuestosTrabajo) ViewData["puesto"];
    var statusMessage = ViewData["StatusMessage"];
}
@if (statusMessage != null)
{
    if (!statusMessage.ToString().Equals(""))
    {
    <div class="alert alert-dismissible bg-purple text-white" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        <i class="fa fa-info-circle"></i> Informacion: @ViewData["StatusMessage"]
    </div>
    }
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-0">
        <li class="breadcrumb-item">
            <a asp-controller="PuestosTrabajo" asp-action="Index">
                <i class="fas fa-angle-left"></i>
                Volver a la lista
            </a>
        </li>
    </ol>
</nav>

<hr class="mg-y-10">

<h2>@ViewBag.H2</h2>
<div>
    <partial name="_IndexPartialPuesto" for="@puesto" />
</div>
@if(Model.Count() > 0){
    <partial name="_IndexPartialListaOferentes" for="@Model" />
}
else
{
    <div class="row row-sm bg-gray-200 p-3 justify-content-center">
        <div class="az-error-wrapper">
            <div class="d-flex flex-row justify-content-center">
                <div><h4>@ViewBag.PartialViewTitle</h4></div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div><img height="250" src="~/img/no-data.svg" /></div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div><h5>Por el momento no hay candidatos</h5></div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div><p><i>"Las cosas buenas les llegan a aquellos que saben esperar"</i></p></div>
            </div>
        </div>
    </div>
}
