@model Solution.FrontEnd.W.Models.Cantones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cantones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCanton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCanton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProvinciaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProvinciaNavigation.NombreProvincia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCanton">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
