@model Solution.FrontEnd.W.Models.ListaOferentes

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ListaOferentes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descartado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descartado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOferenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOferenteNavigation.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPuestoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPuestoNavigation.Titulo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOferente" />
        <input type="hidden" asp-for="IdPuesto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
